# National Park Analysis

In [1]:
#import libraries keys and setup data direcotry
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from datetime import date
import os
import sys
import random
from scipy.stats import linregress
from scipy.stats import normaltest
from citipy import citipy
import json


#Include api directory in path
if module_path not in sys.path:
    sys.path.append("api")

# Import API key
from config import g_key

NameError: name 'module_path' is not defined

## Import Park Attendance Data (Ana, Kevin-support)

In [ ]:
#Import in park atendnce excel/csv

In [3]:
# Import the park atendence csv file
attendence_df = pd.read_csv("data/Visists 1979-2019 v2.csv")
attendence_df

                            Park Name  Year   Visits
0      Abraham Lincoln Birthplace NHP  2019   238226
1      Abraham Lincoln Birthplace NHP  1979   271231
2      Abraham Lincoln Birthplace NHP  1980   239074
3      Abraham Lincoln Birthplace NHP  1981   252245
4      Abraham Lincoln Birthplace NHP  1982   318707
...                               ...   ...      ...
13738                         Zion NP  2014  3189696
13739                         Zion NP  2015  3648846
13740                         Zion NP  2016  4295127
13741                         Zion NP  2017  4504812
13742                         Zion NP  2018  4320033

[13743 rows x 3 columns]

In [15]:
#Data cleanse.

In [4]:
# Filter through our attendence DataFrame to fibd only our National Parks
national_park_df = attendence_df[attendence_df["Park Name"].str.contains("NP")]
national_park_df

       Park Name  Year   Visits
41     Acadia NP  2019  3437286
42     Acadia NP  1979  2787366
43     Acadia NP  1980  2779666
44     Acadia NP  1981  2997972
45     Acadia NP  1982  3572114
...          ...   ...      ...
13738    Zion NP  2014  3189696
13739    Zion NP  2015  3648846
13740    Zion NP  2016  4295127
13741    Zion NP  2017  4504812
13742    Zion NP  2018  4320033

[2786 rows x 3 columns]

## Import Operating Cost Data (Kevin)

In [11]:
#Import operating cost into data frame

In [12]:
#Data cleansing

## Create Inflationary Function (Efrain, Mike-support)

In [18]:
# Create Inflationary function

## Geo Code Park Attendance Data Frame(Mike, Anna-support)

In [19]:
#Geocode work.  Utilizing existing Attendance

## Merge Data add Custom fields (Efrain, Kevin, Ana)

In [ ]:
# Merge data frames add

In [16]:
 #Create any custom fields needed to partition data for analysis

In [ ]:
#Duplicate all monetary fieldfs adjusting for inflation

## Create Heat Maps to Visualize Cost and Attendance (Kevin -  Mike support)

In [ ]:
## Heat Map By Operating Costs

In [17]:
##Heat Map by Attendance

## Scater/Line Plots Operating Costs versus Attendance (Ana and Efrain)  Be creative

## Trend Analysis (Compare Productivity Year Over Year) Mike and Kevin