# National Park Analysis

In [2]:
#import libraries keys and setup data direcotry
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from datetime import date
import os
import sys
import random
from scipy.stats import linregress
from scipy.stats import normaltest
from citipy import citipy
import json


#Include api directory in path
sys.path.append("api")

# Import API key
from config import g_key
from config import np_key
#National Park Endpoints
np_parks_base_url = "https://developer.nps.gov/api/v1/parks?"

## Import Park Attendance Data (Ana, Kevin-support)

In [3]:
#Import in park atendnce excel/csv

In [8]:
# Import the park atendence csv file
attendance_df = pd.read_csv("data/Visists 1979-2019 v2.csv")
attendance_df

                            Park Name  Year   Visits
0      Abraham Lincoln Birthplace NHP  2019   238226
1      Abraham Lincoln Birthplace NHP  1979   271231
2      Abraham Lincoln Birthplace NHP  1980   239074
3      Abraham Lincoln Birthplace NHP  1981   252245
4      Abraham Lincoln Birthplace NHP  1982   318707
...                               ...   ...      ...
13738                         Zion NP  2014  3189696
13739                         Zion NP  2015  3648846
13740                         Zion NP  2016  4295127
13741                         Zion NP  2017  4504812
13742                         Zion NP  2018  4320033

[13743 rows x 3 columns]

In [9]:
#Data cleanse.
attendance_df.columns

Index(['Park Name', 'Year', 'Visits'], dtype='object')

In [17]:
#Checking the data types in Data Frame 
attendance_df.dtypes

Park Name    object
Year          int64
Visits        int64
dtype: object

In [20]:
attendance_df["Park Name"] = attendance_df["Park Name"].astype("str")
attendance_df.dtypes

Park Name    object
Year          int64
Visits        int64
dtype: object

In [6]:
# Filter through our attendence DataFrame to fibd only our National Parks
national_park_df = attendence_df[attendence_df["Park Name"].str.contains("NP")]
national_park_df

       Park Name  Year   Visits
41     Acadia NP  2019  3437286
42     Acadia NP  1979  2787366
43     Acadia NP  1980  2779666
44     Acadia NP  1981  2997972
45     Acadia NP  1982  3572114
...          ...   ...      ...
13738    Zion NP  2014  3189696
13739    Zion NP  2015  3648846
13740    Zion NP  2016  4295127
13741    Zion NP  2017  4504812
13742    Zion NP  2018  4320033

[2786 rows x 3 columns]

## Import Operating Cost Data (Kevin)

In [ ]:
#Import operating cost into data frame

In [ ]:
#Data cleansing

## Create Inflationary Function (Efrain, Mike-support)

In [ ]:
# Create Inflationary function

## Geo Code Park Attendance Data Frame(Mike, Anna-support)

In [22]:
#Geocode work.  Utilizing existing Attendance 
np_master_df =pd.read_csv("data/national_park_master.csv")
np_master_df

,parkCode,fullName,lat,lon,Park Name
0,acad,Acadia National Park,44.409286,-68.247501,Acadia NP
1,arch,Arches National Park,38.722618,-109.586367,Arches NP
2,badl,Badlands National Park,43.685848,-102.482942,Badlands NP
3,bibe,Big Bend National Park,29.298178,-103.229790,Big Bend NP
4,bisc,Biscayne National Park,25.490587,-80.210239,Biscayne NP
5,blca,Black Canyon Of The Gunnison National Park,38.577799,-107.724276,Black Canyon of the Gunnison NP
6,brca,Bryce Canyon National Park,37.583991,-112.182669,Bryce Canyon NP
7,cany,Canyonlands National Park,38.245558,-109.880162,Canyonlands NP
8,care,Capitol Reef National Park,38.282165,-111.247048,Capitol Reef NP
9,cave,Carlsbad Caverns National Park,32.140895,-104.552969,Carlsbad Caverns NP
10,chis,Channel Islands National Park,33.986801,-119.911273,Channel Islands NP
11,cong,Congaree National Park,33.791875,-80.748678,Congaree NP
12,crla,Crater Lake National Park,42.940659,-122.133841,Crater Lake NP
13,cuva,Cuyahoga Valley National Park,41.260939,-81.571167,Cuyahoga Valley NP
14,deva,Death Valley National Park,36.487537,-117.134395,Death Valley NP
15,drto,Dry Tortugas National Park,24.628741,-82.873190,Dry Tortugas NP
16,ever,Everglades National Park,25.372942,-80.882003,Everglades NP
17,jeff,Gateway Arch National Park,38.625807,-90.189251,Gateway Arch NP
18,glac,Glacier National Park,48.684147,-113.800931,Glacier NP
19,grca,Grand Canyon National Park,36.000117,-112.121516,Grand Canyon NP
20,grte,Grand Teton National Park,43.818536,-110.705467,Grand Teton NP
21,grba,Great Basin National Park,38.946174,-114.257978,Great Basin NP
22,grsm,Great Smoky Mountains National Park,35.601164,-83.508183,Great Smoky Mountains NP
23,gumo,Guadalupe Mountains National Park,31.923045,-104.885527,Guadalupe Mountains NP
24,hale,Haleakal National Park,20.706930,-156.159177,Haleakala NP
25,havo,Hawai'i Volcanoes National Park,19.335504,-155.470026,Hawaii Volcanoes NP
26,hosp,Hot Springs National Park,34.524144,-93.063329,Hot Springs NP
27,indu,Indiana Dunes National Park,41.637655,-87.096474,Indiana Dunes NP
28,isro,Isle Royale National Park,48.011458,-88.827807,Isle Royale NP
29,jotr,Joshua Tree National Park,33.914185,-115.839812,Joshua Tree NP
30,kefj,Kenai Fjords National Park,59.818044,-150.106502,Kenai Fjords NP
31,kova,Kobuk Valley National Park,67.356313,-159.200229,Kobuk Valley NP
32,lavo,Lassen Volcanic National Park,40.493546,-121.407599,Lassen Volcanic NP
33,maca,Mammoth Cave National Park,37.197605,-86.130902,Mammoth Cave NP
34,meve,Mesa Verde National Park,37.239083,-108.462403,Mesa Verde NP
35,mora,Mount Rainier National Park,46.860754,-121.704388,Mount Rainier NP
36,noca,North Cascades National Park,48.711718,-121.206942,North Cascades NP
37,olym,Olympic National Park,47.803928,-123.666385,Olympic NP
38,pefo,Petrified Forest National Park,34.983877,-109.787768,Petrified Forest NP
39,pinn,Pinnacles National Park,36.490292,-121.181361,Pinnacles NP
40,romo,Rocky Mountain National Park,40.355692,-105.697288,Rocky Mountain NP
41,sagu,Saguaro National Park,32.209096,-110.757497,Saguaro NP
42,seki,Sequoia & Kings Canyon National Parks,36.712773,-118.587429,Sequoia NP
43,shen,Shenandoah National Park,38.492366,-78.469077,Shenandoah NP
44,thro,Theodore Roosevelt National Park,47.177773,-103.430008,Theodore Roosevelt NP
45,viis,Virgin Islands National Park,18.342797,-64.741945,Virgin Islands NP
46,voya,Voyageurs National Park,48.483706,-92.838291,Voyageurs NP
47,whsa,White Sands National Park,32.779079,-106.333346,White Sands NP
48,wica,Wind Cave National Park,43.580124,-103.439471,Wind Cave NP
49,yell,Yellowstone National Park,44.598244,-110.547169,Yellowstone NP
50,yose,Yosemite National Park,37.848833,-119.557187,Yosemite NP
51,zion,Zion National Park,37.298393,-113.026514,Zion NP

In [37]:
#creating data frame joining master table and detail visists
#attendance_master_detail = pd.concat([national_park_df,np_master_df],join="inner",keys=["Park Name"],axis=1)

attendance_master_detail = pd.merge(national_park_df, np_master_df, how="inner", on=["Park Name"])

In [38]:
attendance_master_detail.head(-10)

,Park Name,Year,Visits,parkCode,fullName,lat,lon
0,Acadia NP,2019,3437286,acad,Acadia National Park,44.409286,-68.247501
1,Acadia NP,1979,2787366,acad,Acadia National Park,44.409286,-68.247501
2,Acadia NP,1980,2779666,acad,Acadia National Park,44.409286,-68.247501
3,Acadia NP,1981,2997972,acad,Acadia National Park,44.409286,-68.247501
4,Acadia NP,1982,3572114,acad,Acadia National Park,44.409286,-68.247501
...,...,...,...,...,...,...,...
2105,Zion NP,2004,2677342,zion,Zion National Park,37.298393,-113.026514
2106,Zion NP,2005,2586665,zion,Zion National Park,37.298393,-113.026514
2107,Zion NP,2006,2567350,zion,Zion National Park,37.298393,-113.026514
2108,Zion NP,2007,2657281,zion,Zion National Park,37.298393,-113.026514
2109,Zion NP,2008,2690154,zion,Zion National Park,37.298393,-113.026514

In [43]:
#Max_Year_attendance_df = attendence_df[attendence_df["Park Name"].str.contains("NP")]
#Max_Year_attendance_df

Max_Year_attendance_grp = attendance_master_detail.groupby(['Park Name'])['Year'].max()
Max_Year_attendance_stg_df = Max_Year_attendance_grp.reset_index()
#attendance_master_detail[attendance_master_detail['Year']==Max_Year_attendance_stg_df['Year']
                        &]
#Max_Year_attendance_df

In [48]:
Max_Year_attendance_stg_df

                          Park Name  Year
0                         Acadia NP  2019
1                         Arches NP  2019
2                       Badlands NP  2019
3                       Big Bend NP  2019
4                       Biscayne NP  2019
5   Black Canyon of the Gunnison NP  2019
6                   Bryce Canyon NP  2019
7                    Canyonlands NP  2019
8                   Capitol Reef NP  2019
9               Carlsbad Caverns NP  2019
10               Channel Islands NP  2019
11                      Congaree NP  2019
12                   Crater Lake NP  2019
13               Cuyahoga Valley NP  2019
14                  Death Valley NP  2019
15                  Dry Tortugas NP  2019
16                    Everglades NP  2019
17                  Gateway Arch NP  2019
18                       Glacier NP  2019
19                  Grand Canyon NP  2019
20                   Grand Teton NP  2019
21                   Great Basin NP  2019
22         Great Smoky Mountains NP  2019
23           Guadalupe Mountains NP  2019
24                     Haleakala NP  2019
25              Hawaii Volcanoes NP  2019
26                   Hot Springs NP  2019
27                 Indiana Dunes NP  2019
28                   Isle Royale NP  2019
29                   Joshua Tree NP  2019
30                  Kenai Fjords NP  2019
31                  Kobuk Valley NP  2019
32               Lassen Volcanic NP  2019
33                  Mammoth Cave NP  2019
34                    Mesa Verde NP  2019
35                 Mount Rainier NP  2019
36                North Cascades NP  2019
37                       Olympic NP  2019
38              Petrified Forest NP  2019
39                     Pinnacles NP  2019
40                Rocky Mountain NP  2019
41                       Saguaro NP  2019
42                       Sequoia NP  2019
43                    Shenandoah NP  2019
44            Theodore Roosevelt NP  2019
45                Virgin Islands NP  2019
46                     Voyageurs NP  2019
47                   White Sands NP  2019
48                     Wind Cave NP  2019
49                   Yellowstone NP  2019
50                      Yosemite NP  2019
51                          Zion NP  2019

In [51]:

Max_Year_stg_df = pd.merge(Max_Year_attendance_stg_df, np_master_df, how="inner", on=["Park Name"])

Max_Year_df = pd.merge(Max_Year_stg_df,national_park_df,how="inner", on=["Park Name","Year"])

## Merge Data add Custom fields (Efrain, Kevin, Ana)

In [ ]:
# Merge data frames add

In [ ]:
 #Create any custom fields needed to partition data for analysis

In [ ]:
#Duplicate all monetary fieldfs adjusting for inflation

## Create Current Year Summary Attendance Statistics (Ana - Mike Support)

In [ ]:
# Top 10 by visit 2019

In [66]:
#Top 10 least visited Parks for 2019
Max_Year_df[["Park Name","Year","Visits"]].sort_values(by=["Visits"]).head(10)

                 Park Name  Year  Visits
31         Kobuk Valley NP  2019   15766
28          Isle Royale NP  2019   26410
36       North Cascades NP  2019   38208
15         Dry Tortugas NP  2019   79200
21          Great Basin NP  2019  131802
45       Virgin Islands NP  2019  133398
11             Congaree NP  2019  159445
39            Pinnacles NP  2019  177224
23  Guadalupe Mountains NP  2019  188833
46            Voyageurs NP  2019  232974

In [ ]:
#Heat Map All National parks parks.  Intensity = Visits

## Create Heat Maps to Visualize Cost and Attendance (Kevin -  Mike support)

In [ ]:
## Heat Map By Operating Costs

In [ ]:
##Heat Map by Attendance

## Scater/Line Plots Operating Costs versus Attendance (Ana and Efrain)  Be creative

## Trend Analysis (Compare Productivity Year Over Year) Mike and Kevin