# National Park Analysis

In [1]:
#import libraries keys and setup data direcotry
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from datetime import date
import os
import sys
import random
from scipy.stats import linregress
from scipy.stats import normaltest
from citipy import citipy
import json
import gmaps
from math import nan


#Include api directory in path
sys.path.append("api")

# Import API key
from config import g_key
from config import np_key

#National Park Endpoints
np_endpoint_parks = "https://developer.nps.gov/api/v1/parks?"

## Import Park Attendance Data (Ana, Kevin-support)

In [2]:
#Import in park atendnce excel/csv

In [3]:
# Import the park atendence csv file
attendance_df = pd.read_csv("data/Visists 1979-2019 v2.csv")
attendance_df

                            Park Name  Year   Visits
0      Abraham Lincoln Birthplace NHP  2019   238226
1      Abraham Lincoln Birthplace NHP  1979   271231
2      Abraham Lincoln Birthplace NHP  1980   239074
3      Abraham Lincoln Birthplace NHP  1981   252245
4      Abraham Lincoln Birthplace NHP  1982   318707
...                               ...   ...      ...
13738                         Zion NP  2014  3189696
13739                         Zion NP  2015  3648846
13740                         Zion NP  2016  4295127
13741                         Zion NP  2017  4504812
13742                         Zion NP  2018  4320033

[13743 rows x 3 columns]

In [4]:
#Data cleanse.
attendance_df.columns

Index(['Park Name', 'Year', 'Visits'], dtype='object')

In [5]:
#Checking the data types in Data Frame 
attendance_df.dtypes

Park Name    object
Year          int64
Visits        int64
dtype: object

In [6]:
attendance_df["Park Name"] = attendance_df["Park Name"].astype("str")
attendance_df.dtypes

Park Name    object
Year          int64
Visits        int64
dtype: object

In [7]:
# Filter through our attendence DataFrame to fibd only our National Parks
national_park_df = attendance_df[attendance_df["Park Name"].str.contains("NP")]
national_park_df

       Park Name  Year   Visits
41     Acadia NP  2019  3437286
42     Acadia NP  1979  2787366
43     Acadia NP  1980  2779666
44     Acadia NP  1981  2997972
45     Acadia NP  1982  3572114
...          ...   ...      ...
13738    Zion NP  2014  3189696
13739    Zion NP  2015  3648846
13740    Zion NP  2016  4295127
13741    Zion NP  2017  4504812
13742    Zion NP  2018  4320033

[2786 rows x 3 columns]

## Import Operating Cost Data (Kevin)

In [8]:
#Import operating cost into data frame

In [9]:
#Data cleansing

## Import CPI table

In [13]:
cpi_df = pd.read_excel("data/cpi_table.xlsx")

In [42]:
cpi_df

    YEAR      CPI
0   2020  258.811
1   2019  255.657
2   2018  251.107
3   2017  245.120
4   2016  240.008
5   2015  237.017
6   2014  236.736
7   2013  232.957
8   2012  229.594
9   2011  224.939
10  2010  218.056
11  2009  214.537
12  2008  215.303
13  2007  207.342
14  2006  201.600
15  2005  195.300
16  2004  188.900
17  2003  183.960
18  2002  179.880
19  2001  177.100
20  2000  172.200
21  1999  166.600
22  1998  163.000
23  1997  160.500
24  1996  156.900
25  1995  152.400
26  1994  148.200
27  1993  144.500
28  1992  140.300
29  1991  136.200
30  1990  130.700
31  1989  124.000
32  1988  118.300
33  1987  113.600
34  1986  109.600
35  1985  107.600
36  1984  103.900
37  1983   99.600
38  1982   96.500
39  1981   90.900
40  1980   82.400
41  1979   72.600
42  1978   65.200
43  1977   60.600
44  1976   56.900
45  1975   53.800
46  1974   49.300
47  1973   44.400
48  1972   41.800
49  1971   40.500
50  1970   38.800

## CPI Function

In [40]:

#The following function will return adjusted prior year abount based on CPI of current year and prior year.

def cpi_fnc ( current_year,prior_year, prior_amount ):
    
    ret_val = 0
    if type(prior_year) != 'int' or  type(current_year) != 'int':
        try:
            prior_year = int(prior_year)
            current_year = int(current_year)
        except:
            print(f"Type Error: Make sure to pass int values or strings that will convert to int")
        if len(cpi_df[cpi_df["YEAR"] == prior_year]) == 0:
                  print(f"Year {str(prior_year)} does not exist in CPI table")
        elif len(cpi_df[cpi_df["YEAR"] == current_year]) == 0:
                  print(f"Year {str(current_year)} does not exist in CPI table")
        else:
            v_curr_year_cpi = cpi_df[cpi_df["YEAR"] == current_year]["CPI"].values[0]
            v_prior_year_cpi = cpi_df[cpi_df["YEAR"] == prior_year]["CPI"].values[0]          
            adjusted_amount = prior_amount * float((v_curr_year_cpi/v_prior_year_cpi))
            ret_val = round(adjusted_amount,2)
    return ret_val

In [44]:
#CPI Test Statement

x = cpi_fnc(2020,2000,14888023)
print(str(x))

22376214.41

## Create Inflationary Function (Efrain, Mike-support)

In [ ]:
# Create Inflationary function

## Geo Code Park Attendance Data Frame(Mike, Anna-support)

In [ ]:
#Geocode work.  Utilizing existing Attendance 
np_master_df =pd.read_csv("data/national_park_master.csv")
np_master_df

In [ ]:
#Connect to NP API parks endpoint to get park state and activities
parkCode_list = []
activities_list = []
np_master_df["State"] = " "
np_master_df["Activity Count"] = 0

for index, row in np_master_df.iterrows():
    params = { "api_key": np_key,
               "parkCode":row["parkCode"]
             }
    response = requests.get(np_endpoint_parks,params).json()
    if len(response["data"][0]["addresses"]) > 0:
        np_master_df.loc[index,"State"] = response["data"][0]["addresses"][0]["stateCode"]
    np_master_df.loc[index,"Activity Count"] = len(response["data"][0]["activities"])
    for activity in response["data"][0]["activities"]:
        parkCode_list.append(row["parkCode"])
        activities_list.append(activity["name"])

In [ ]:
#Build NP Activities List
np_activities = pd.DataFrame ({"parkCode":parkCode_list, "Activity":activities_list})

#Build Park Activies DataFrame
np_activities_df = pd.DataFrame ({"parkCode":parkCode_list, "Activity":activities_list})
np_activities_df["Cnt"] = 1

#Pivot on parkCode Not working
#np_activities_pivot_df = pd.pivot(np_activities_df,index="parkCode", columns = "Activity", values = "Cnt").reset_index()

In [ ]:
np_activities

In [ ]:
np_master_df

In [ ]:
#creating data frame joining master table and detail visists
#attendance_master_detail = pd.concat([national_park_df,np_master_df],join="inner",keys=["Park Name"],axis=1)

attendance_master_detail = pd.merge(national_park_df, np_master_df, how="inner", on=["Park Name"])

In [ ]:
attendance_master_detail.head(-10)

In [ ]:
#Max_Year_attendance_df = attendence_df[attendence_df["Park Name"].str.contains("NP")]
#Max_Year_attendance_df

Max_Year_attendance_grp = attendance_master_detail.groupby(['Park Name'])['Year'].max()
Max_Year_attendance_stg_df = Max_Year_attendance_grp.reset_index()
#attendance_master_detail[attendance_master_detail['Year']==Max_Year_attendance_stg_df['Year']
                        
#Max_Year_attendance_df

In [ ]:
Max_Year_attendance_stg_df

In [ ]:

Max_Year_stg_df = pd.merge(Max_Year_attendance_stg_df, np_master_df, how="inner", on=["Park Name"])

Max_Year_df = pd.merge(Max_Year_stg_df,national_park_df,how="inner", on=["Park Name","Year"])
Max_Year_df

In [ ]:
## Merge Data add Custom fields (Efrain, Kevin, Ana)

In [ ]:
# Merge data frames add

In [ ]:
 #Create any custom fields needed to partition data for analysis

In [ ]:
#Duplicate all monetary fieldfs adjusting for inflation

## Create Current Year Summary Attendance Statistics (Ana - Mike Support)

In [ ]:
# Top 10 by visit 2019

#Max_Year_df.groupby(["Park Name","Year","Visits"]).size().sort_values(ascending=False)

#Max_Year_df.sort_values('Visits', ascending=False).head(10)

Max_Year_df[["Park Name","Year","Visits"]].sort_values(by=["Visits"],ascending=False).head(10)

In [ ]:
#Top 10 least visited Parks for 2019
Max_Year_df[["Park Name","Year","Visits"]].sort_values(by=["Visits"]).head(10)

In [ ]:
Max_Year_df
locations= Max_Year_df[['lat', 'lon']].astype(float)
locations

In [ ]:
#Heat Map All National parks parks.  Intensity = Visits
#attendance_master_detail.head()



gmaps.configure(api_key=g_key)
# Store 'Lat' and 'Lng' into  locations 
locations= Max_Year_df[['lat', 'lon']].astype(float)
#weights=Max_Year_df['Visits'].astype(float)
# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
#census_data_complete = census_data_complete.dropna()
visits_all = Max_Year_df["Visits"].astype(float)
max_visits = Max_Year_df["Visits"].max() 
#max_visits= Max_Year_df["Visits"].max()

# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=visits_all, 
                                 dissipating=False, max_intensity=max_visits,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

## Create Heat Maps to Visualize Cost and Attendance (Kevin -  Mike support)

In [ ]:
## Heat Map By Operating Costs

In [ ]:
##Heat Map by Attendance

## Scater/Line Plots Operating Costs versus Attendance (Ana and Efrain)  Be creative

## Trend Analysis (Compare Productivity Year Over Year) Mike and Kevin