# National Park Analysis

In [1]:
#import libraries keys and setup data direcotry
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from datetime import date
import os
import sys
import random
from scipy.stats import linregress
from scipy.stats import normaltest
from citipy import citipy
import json
import gmaps


#Include api directory in path
sys.path.append("api")

# Import API key
from config import g_key
from config import np_key

#National Park Endpoints
np_endpoint_parks = "https://developer.nps.gov/api/v1/parks?"

## Import Park Attendance Data (Ana, Kevin-support)

In [2]:
#Import in park atendnce excel/csv

In [3]:
# Import the park atendence csv file
attendance_df = pd.read_csv("data/Visists 1979-2019 v2.csv")
attendance_df

                            Park Name  Year   Visits
0      Abraham Lincoln Birthplace NHP  2019   238226
1      Abraham Lincoln Birthplace NHP  1979   271231
2      Abraham Lincoln Birthplace NHP  1980   239074
3      Abraham Lincoln Birthplace NHP  1981   252245
4      Abraham Lincoln Birthplace NHP  1982   318707
...                               ...   ...      ...
13738                         Zion NP  2014  3189696
13739                         Zion NP  2015  3648846
13740                         Zion NP  2016  4295127
13741                         Zion NP  2017  4504812
13742                         Zion NP  2018  4320033

[13743 rows x 3 columns]

In [4]:
#Data cleanse.
attendance_df.columns

Index(['Park Name', 'Year', 'Visits'], dtype='object')

In [5]:
#Checking the data types in Data Frame 
attendance_df.dtypes

Park Name    object
Year          int64
Visits        int64
dtype: object

In [6]:
attendance_df["Park Name"] = attendance_df["Park Name"].astype("str")
attendance_df.dtypes

Park Name    object
Year          int64
Visits        int64
dtype: object

In [7]:
# Filter through our attendence DataFrame to fibd only our National Parks
national_park_df = attendance_df[attendance_df["Park Name"].str.contains("NP")]
national_park_df

       Park Name  Year   Visits
41     Acadia NP  2019  3437286
42     Acadia NP  1979  2787366
43     Acadia NP  1980  2779666
44     Acadia NP  1981  2997972
45     Acadia NP  1982  3572114
...          ...   ...      ...
13738    Zion NP  2014  3189696
13739    Zion NP  2015  3648846
13740    Zion NP  2016  4295127
13741    Zion NP  2017  4504812
13742    Zion NP  2018  4320033

[2786 rows x 3 columns]

## Import Operating Cost Data (Kevin)

In [8]:
#Import operating cost into data frame

In [9]:
#Data cleansing

## Create Inflationary Function (Efrain, Mike-support)

In [10]:
# Create Inflationary function

## Geo Code Park Attendance Data Frame(Mike, Anna-support)

In [11]:
#Geocode work.  Utilizing existing Attendance 
np_master_df =pd.read_csv("data/national_park_master.csv")
np_master_df

,parkCode,fullName,lat,lon,Park Name
0,acad,Acadia National Park,44.409286,-68.247501,Acadia NP
1,arch,Arches National Park,38.722618,-109.586367,Arches NP
2,badl,Badlands National Park,43.685848,-102.482942,Badlands NP
3,bibe,Big Bend National Park,29.298178,-103.229790,Big Bend NP
4,bisc,Biscayne National Park,25.490587,-80.210239,Biscayne NP
5,blca,Black Canyon Of The Gunnison National Park,38.577799,-107.724276,Black Canyon of the Gunnison NP
6,brca,Bryce Canyon National Park,37.583991,-112.182669,Bryce Canyon NP
7,cany,Canyonlands National Park,38.245558,-109.880162,Canyonlands NP
8,care,Capitol Reef National Park,38.282165,-111.247048,Capitol Reef NP
9,cave,Carlsbad Caverns National Park,32.140895,-104.552969,Carlsbad Caverns NP
10,chis,Channel Islands National Park,33.986801,-119.911274,Channel Islands NP
11,cong,Congaree National Park,33.791875,-80.748678,Congaree NP
12,crla,Crater Lake National Park,42.940659,-122.133841,Crater Lake NP
13,cuva,Cuyahoga Valley National Park,41.260939,-81.571167,Cuyahoga Valley NP
14,deva,Death Valley National Park,36.487537,-117.134395,Death Valley NP
15,drto,Dry Tortugas National Park,24.628741,-82.873190,Dry Tortugas NP
16,ever,Everglades National Park,25.372942,-80.882003,Everglades NP
17,jeff,Gateway Arch National Park,38.625807,-90.189251,Gateway Arch NP
18,glac,Glacier National Park,48.684147,-113.800931,Glacier NP
19,grca,Grand Canyon National Park,36.000117,-112.121516,Grand Canyon NP
20,grte,Grand Teton National Park,43.818536,-110.705467,Grand Teton NP
21,grba,Great Basin National Park,38.946174,-114.257978,Great Basin NP
22,grsm,Great Smoky Mountains National Park,35.601164,-83.508183,Great Smoky Mountains NP
23,gumo,Guadalupe Mountains National Park,31.923045,-104.885527,Guadalupe Mountains NP
24,hale,Haleakal National Park,20.706930,-156.159177,Haleakala NP
25,havo,Hawai'i Volcanoes National Park,19.335504,-155.470026,Hawaii Volcanoes NP
26,hosp,Hot Springs National Park,34.524144,-93.063329,Hot Springs NP
27,indu,Indiana Dunes National Park,41.637655,-87.096474,Indiana Dunes NP
28,isro,Isle Royale National Park,48.011458,-88.827807,Isle Royale NP
29,jotr,Joshua Tree National Park,33.914185,-115.839812,Joshua Tree NP
30,kefj,Kenai Fjords National Park,59.818044,-150.106502,Kenai Fjords NP
31,kova,Kobuk Valley National Park,67.356313,-159.200229,Kobuk Valley NP
32,lavo,Lassen Volcanic National Park,40.493546,-121.407599,Lassen Volcanic NP
33,maca,Mammoth Cave National Park,37.197605,-86.130902,Mammoth Cave NP
34,meve,Mesa Verde National Park,37.239083,-108.462403,Mesa Verde NP
35,mora,Mount Rainier National Park,46.860754,-121.704389,Mount Rainier NP
36,noca,North Cascades National Park,48.711718,-121.206942,North Cascades NP
37,olym,Olympic National Park,47.803928,-123.666385,Olympic NP
38,pefo,Petrified Forest National Park,34.983877,-109.787768,Petrified Forest NP
39,pinn,Pinnacles National Park,36.490292,-121.181361,Pinnacles NP
40,romo,Rocky Mountain National Park,40.355692,-105.697288,Rocky Mountain NP
41,sagu,Saguaro National Park,32.209096,-110.757497,Saguaro NP
42,seki,Sequoia & Kings Canyon National Parks,36.712773,-118.587429,Sequoia NP
43,shen,Shenandoah National Park,38.492366,-78.469077,Shenandoah NP
44,thro,Theodore Roosevelt National Park,47.177773,-103.430008,Theodore Roosevelt NP
45,viis,Virgin Islands National Park,18.342797,-64.741945,Virgin Islands NP
46,voya,Voyageurs National Park,48.483706,-92.838291,Voyageurs NP
47,whsa,White Sands National Park,32.779079,-106.333346,White Sands NP
48,wica,Wind Cave National Park,43.580124,-103.439471,Wind Cave NP
49,yell,Yellowstone National Park,44.598244,-110.547170,Yellowstone NP
50,yose,Yosemite National Park,37.848833,-119.557187,Yosemite NP
51,zion,Zion National Park,37.298393,-113.026514,Zion NP

In [12]:
#Connect to NP API parks endpoint to get park state and activities
parkCode_list = []
activities_list = []
np_master_df["State"] = " "
np_master_df["Activity Count"] = 0

for index, row in np_master_df.iterrows():
    params = { "api_key": np_key,
               "parkCode":row["parkCode"]
             }
    response = requests.get(np_endpoint_parks,params).json()
    if len(response["data"][0]["addresses"]) > 0:
        np_master_df.loc[index,"State"] = response["data"][0]["addresses"][0]["stateCode"]
    np_master_df.loc[index,"Activity Count"] = len(response["data"][0]["activities"])
    for activity in response["data"][0]["activities"]:
        parkCode_list.append(row["parkCode"])
        activities_list.append(activity["name"])

In [13]:
#Build NP Activities List
np_activities = pd.DataFrame ({"parkCode":parkCode_list, "Activity":activities_list})

#Build Park Activies DataFrame
np_activities_df = pd.DataFrame ({"parkCode":parkCode_list, "Activity":activities_list})
np_activities_df["Cnt"] = 1

#Pivot on parkCode Not working
#np_activities_pivot_df = pd.pivot(np_activities_df,index="parkCode", columns = "Activity", values = "Cnt").reset_index()

In [14]:
np_activities

     parkCode                  Activity
0        acad          Arts and Culture
1        acad   Cultural Demonstrations
2        acad                 Astronomy
3        acad                Stargazing
4        acad                    Biking
...       ...                       ...
1541     zion              Birdwatching
1542     zion                 Park Film
1543     zion           Museum Exhibits
1544     zion                  Shopping
1545     zion  Bookstore and Park Store

[1546 rows x 2 columns]

In [15]:
np_master_df

,parkCode,fullName,lat,lon,Park Name,State,Activity Count
0,acad,Acadia National Park,44.409286,-68.247501,Acadia NP,ME,46
1,arch,Arches National Park,38.722618,-109.586367,Arches NP,UT,20
2,badl,Badlands National Park,43.685848,-102.482942,Badlands NP,SD,21
3,bibe,Big Bend National Park,29.298178,-103.229790,Big Bend NP,TX,19
4,bisc,Biscayne National Park,25.490587,-80.210239,Biscayne NP,FL,13
5,blca,Black Canyon Of The Gunnison National Park,38.577799,-107.724276,Black Canyon of the Gunnison NP,CO,13
6,brca,Bryce Canyon National Park,37.583991,-112.182669,Bryce Canyon NP,UT,28
7,cany,Canyonlands National Park,38.245558,-109.880162,Canyonlands NP,UT,23
8,care,Capitol Reef National Park,38.282165,-111.247048,Capitol Reef NP,UT,47
9,cave,Carlsbad Caverns National Park,32.140895,-104.552969,Carlsbad Caverns NP,NM,21
10,chis,Channel Islands National Park,33.986801,-119.911274,Channel Islands NP,CA,41
11,cong,Congaree National Park,33.791875,-80.748678,Congaree NP,SC,26
12,crla,Crater Lake National Park,42.940659,-122.133841,Crater Lake NP,OR,43
13,cuva,Cuyahoga Valley National Park,41.260939,-81.571167,Cuyahoga Valley NP,OH,31
14,deva,Death Valley National Park,36.487537,-117.134395,Death Valley NP,CA,27
15,drto,Dry Tortugas National Park,24.628741,-82.873190,Dry Tortugas NP,FL,15
16,ever,Everglades National Park,25.372942,-80.882003,Everglades NP,FL,36
17,jeff,Gateway Arch National Park,38.625807,-90.189251,Gateway Arch NP,MO,15
18,glac,Glacier National Park,48.684147,-113.800931,Glacier NP,MT,47
19,grca,Grand Canyon National Park,36.000117,-112.121516,Grand Canyon NP,AZ,33
20,grte,Grand Teton National Park,43.818536,-110.705467,Grand Teton NP,WY,53
21,grba,Great Basin National Park,38.946174,-114.257978,Great Basin NP,NV,42
22,grsm,Great Smoky Mountains National Park,35.601164,-83.508183,Great Smoky Mountains NP,TN,36
23,gumo,Guadalupe Mountains National Park,31.923045,-104.885527,Guadalupe Mountains NP,TX,20
24,hale,Haleakal National Park,20.706930,-156.159177,Haleakala NP,HI,8
25,havo,Hawai'i Volcanoes National Park,19.335504,-155.470026,Hawaii Volcanoes NP,HI,17
26,hosp,Hot Springs National Park,34.524144,-93.063329,Hot Springs NP,AR,23
27,indu,Indiana Dunes National Park,41.637655,-87.096474,Indiana Dunes NP,IN,33
28,isro,Isle Royale National Park,48.011458,-88.827807,Isle Royale NP,MI,35
29,jotr,Joshua Tree National Park,33.914185,-115.839812,Joshua Tree NP,CA,27
30,kefj,Kenai Fjords National Park,59.818044,-150.106502,Kenai Fjords NP,AK,38
31,kova,Kobuk Valley National Park,67.356313,-159.200229,Kobuk Valley NP,AK,19
32,lavo,Lassen Volcanic National Park,40.493546,-121.407599,Lassen Volcanic NP,CA,47
33,maca,Mammoth Cave National Park,37.197605,-86.130902,Mammoth Cave NP,KY,30
34,meve,Mesa Verde National Park,37.239083,-108.462403,Mesa Verde NP,CO,21
35,mora,Mount Rainier National Park,46.860754,-121.704389,Mount Rainier NP,WA,34
36,noca,North Cascades National Park,48.711718,-121.206942,North Cascades NP,WA,30
37,olym,Olympic National Park,47.803928,-123.666385,Olympic NP,WA,51
38,pefo,Petrified Forest National Park,34.983877,-109.787768,Petrified Forest NP,AZ,37
39,pinn,Pinnacles National Park,36.490292,-121.181361,Pinnacles NP,CA,26
40,romo,Rocky Mountain National Park,40.355692,-105.697288,Rocky Mountain NP,CO,34
41,sagu,Saguaro National Park,32.209096,-110.757497,Saguaro NP,AZ,12
42,seki,Sequoia & Kings Canyon National Parks,36.712773,-118.587429,Sequoia NP,CA,39
43,shen,Shenandoah National Park,38.492366,-78.469077,Shenandoah NP,VA,29
44,thro,Theodore Roosevelt National Park,47.177773,-103.430008,Theodore Roosevelt NP,ND,28
45,viis,Virgin Islands National Park,18.342797,-64.741945,Virgin Islands NP,VI,21
46,voya,Voyageurs National Park,48.483706,-92.838291,Voyageurs NP,MN,48
47,whsa,White Sands National Park,32.779079,-106.333346,White Sands NP,NM,11
48,wica,Wind Cave National Park,43.580124,-103.439471,Wind Cave NP,SD,23
49,yell,Yellowstone National Park,44.598244,-110.547170,Yellowstone NP,WY,53
50,yose,Yosemite National Park,37.848833,-119.557187,Yosemite NP,,33
51,zion,Zion National Park,37.298393,-113.026514,Zion NP,UT,23

In [16]:
#creating data frame joining master table and detail visists
#attendance_master_detail = pd.concat([national_park_df,np_master_df],join="inner",keys=["Park Name"],axis=1)

attendance_master_detail = pd.merge(national_park_df, np_master_df, how="inner", on=["Park Name"])

In [17]:
attendance_master_detail.head(-10)

,Park Name,Year,Visits,parkCode,fullName,lat,lon,State,Activity Count
0,Acadia NP,2019,3437286,acad,Acadia National Park,44.409286,-68.247501,ME,46
1,Acadia NP,1979,2787366,acad,Acadia National Park,44.409286,-68.247501,ME,46
2,Acadia NP,1980,2779666,acad,Acadia National Park,44.409286,-68.247501,ME,46
3,Acadia NP,1981,2997972,acad,Acadia National Park,44.409286,-68.247501,ME,46
4,Acadia NP,1982,3572114,acad,Acadia National Park,44.409286,-68.247501,ME,46
...,...,...,...,...,...,...,...,...,...
2105,Zion NP,2004,2677342,zion,Zion National Park,37.298393,-113.026514,UT,23
2106,Zion NP,2005,2586665,zion,Zion National Park,37.298393,-113.026514,UT,23
2107,Zion NP,2006,2567350,zion,Zion National Park,37.298393,-113.026514,UT,23
2108,Zion NP,2007,2657281,zion,Zion National Park,37.298393,-113.026514,UT,23
2109,Zion NP,2008,2690154,zion,Zion National Park,37.298393,-113.026514,UT,23

In [18]:
#Max_Year_attendance_df = attendence_df[attendence_df["Park Name"].str.contains("NP")]
#Max_Year_attendance_df

Max_Year_attendance_grp = attendance_master_detail.groupby(['Park Name'])['Year'].max()
Max_Year_attendance_stg_df = Max_Year_attendance_grp.reset_index()
#attendance_master_detail[attendance_master_detail['Year']==Max_Year_attendance_stg_df['Year']
                        
#Max_Year_attendance_df

In [19]:
Max_Year_attendance_stg_df

                          Park Name  Year
0                         Acadia NP  2019
1                         Arches NP  2019
2                       Badlands NP  2019
3                       Big Bend NP  2019
4                       Biscayne NP  2019
5   Black Canyon of the Gunnison NP  2019
6                   Bryce Canyon NP  2019
7                    Canyonlands NP  2019
8                   Capitol Reef NP  2019
9               Carlsbad Caverns NP  2019
10               Channel Islands NP  2019
11                      Congaree NP  2019
12                   Crater Lake NP  2019
13               Cuyahoga Valley NP  2019
14                  Death Valley NP  2019
15                  Dry Tortugas NP  2019
16                    Everglades NP  2019
17                  Gateway Arch NP  2019
18                       Glacier NP  2019
19                  Grand Canyon NP  2019
20                   Grand Teton NP  2019
21                   Great Basin NP  2019
22         Great Smoky Mountains NP  2019
23           Guadalupe Mountains NP  2019
24                     Haleakala NP  2019
25              Hawaii Volcanoes NP  2019
26                   Hot Springs NP  2019
27                 Indiana Dunes NP  2019
28                   Isle Royale NP  2019
29                   Joshua Tree NP  2019
30                  Kenai Fjords NP  2019
31                  Kobuk Valley NP  2019
32               Lassen Volcanic NP  2019
33                  Mammoth Cave NP  2019
34                    Mesa Verde NP  2019
35                 Mount Rainier NP  2019
36                North Cascades NP  2019
37                       Olympic NP  2019
38              Petrified Forest NP  2019
39                     Pinnacles NP  2019
40                Rocky Mountain NP  2019
41                       Saguaro NP  2019
42                       Sequoia NP  2019
43                    Shenandoah NP  2019
44            Theodore Roosevelt NP  2019
45                Virgin Islands NP  2019
46                     Voyageurs NP  2019
47                   White Sands NP  2019
48                     Wind Cave NP  2019
49                   Yellowstone NP  2019
50                      Yosemite NP  2019
51                          Zion NP  2019

In [20]:

Max_Year_stg_df = pd.merge(Max_Year_attendance_stg_df, np_master_df, how="inner", on=["Park Name"])

Max_Year_df = pd.merge(Max_Year_stg_df,national_park_df,how="inner", on=["Park Name","Year"])
Max_Year_df

,Park Name,Year,parkCode,fullName,lat,lon,State,Activity Count,Visits
0,Acadia NP,2019,acad,Acadia National Park,44.409286,-68.247501,ME,46,3437286
1,Arches NP,2019,arch,Arches National Park,38.722618,-109.586367,UT,20,1659702
2,Badlands NP,2019,badl,Badlands National Park,43.685848,-102.482942,SD,21,970998
3,Big Bend NP,2019,bibe,Big Bend National Park,29.298178,-103.229790,TX,19,463832
4,Biscayne NP,2019,bisc,Biscayne National Park,25.490587,-80.210239,FL,13,708522
5,Black Canyon of the Gunnison NP,2019,blca,Black Canyon Of The Gunnison National Park,38.577799,-107.724276,CO,13,432818
6,Bryce Canyon NP,2019,brca,Bryce Canyon National Park,37.583991,-112.182669,UT,28,2594904
7,Canyonlands NP,2019,cany,Canyonlands National Park,38.245558,-109.880162,UT,23,733996
8,Capitol Reef NP,2019,care,Capitol Reef National Park,38.282165,-111.247048,UT,47,1226519
9,Carlsbad Caverns NP,2019,cave,Carlsbad Caverns National Park,32.140895,-104.552969,NM,21,440691
10,Channel Islands NP,2019,chis,Channel Islands National Park,33.986801,-119.911274,CA,41,409630
11,Congaree NP,2019,cong,Congaree National Park,33.791875,-80.748678,SC,26,159445
12,Crater Lake NP,2019,crla,Crater Lake National Park,42.940659,-122.133841,OR,43,704512
13,Cuyahoga Valley NP,2019,cuva,Cuyahoga Valley National Park,41.260939,-81.571167,OH,31,2237997
14,Death Valley NP,2019,deva,Death Valley National Park,36.487537,-117.134395,CA,27,1740945
15,Dry Tortugas NP,2019,drto,Dry Tortugas National Park,24.628741,-82.873190,FL,15,79200
16,Everglades NP,2019,ever,Everglades National Park,25.372942,-80.882003,FL,36,1118300
17,Gateway Arch NP,2019,jeff,Gateway Arch National Park,38.625807,-90.189251,MO,15,2055309
18,Glacier NP,2019,glac,Glacier National Park,48.684147,-113.800931,MT,47,3049839
19,Grand Canyon NP,2019,grca,Grand Canyon National Park,36.000117,-112.121516,AZ,33,5974411
20,Grand Teton NP,2019,grte,Grand Teton National Park,43.818536,-110.705467,WY,53,3405614
21,Great Basin NP,2019,grba,Great Basin National Park,38.946174,-114.257978,NV,42,131802
22,Great Smoky Mountains NP,2019,grsm,Great Smoky Mountains National Park,35.601164,-83.508183,TN,36,12547743
23,Guadalupe Mountains NP,2019,gumo,Guadalupe Mountains National Park,31.923045,-104.885527,TX,20,188833
24,Haleakala NP,2019,hale,Haleakal National Park,20.706930,-156.159177,HI,8,994394
25,Hawaii Volcanoes NP,2019,havo,Hawai'i Volcanoes National Park,19.335504,-155.470026,HI,17,1368376
26,Hot Springs NP,2019,hosp,Hot Springs National Park,34.524144,-93.063329,AR,23,1467153
27,Indiana Dunes NP,2019,indu,Indiana Dunes National Park,41.637655,-87.096474,IN,33,2134285
28,Isle Royale NP,2019,isro,Isle Royale National Park,48.011458,-88.827807,MI,35,26410
29,Joshua Tree NP,2019,jotr,Joshua Tree National Park,33.914185,-115.839812,CA,27,2988547
30,Kenai Fjords NP,2019,kefj,Kenai Fjords National Park,59.818044,-150.106502,AK,38,356601
31,Kobuk Valley NP,2019,kova,Kobuk Valley National Park,67.356313,-159.200229,AK,19,15766
32,Lassen Volcanic NP,2019,lavo,Lassen Volcanic National Park,40.493546,-121.407599,CA,47,517039
33,Mammoth Cave NP,2019,maca,Mammoth Cave National Park,37.197605,-86.130902,KY,30,551590
34,Mesa Verde NP,2019,meve,Mesa Verde National Park,37.239083,-108.462403,CO,21,556203
35,Mount Rainier NP,2019,mora,Mount Rainier National Park,46.860754,-121.704389,WA,34,1501621
36,North Cascades NP,2019,noca,North Cascades National Park,48.711718,-121.206942,WA,30,38208
37,Olympic NP,2019,olym,Olympic National Park,47.803928,-123.666385,WA,51,3245806
38,Petrified Forest NP,2019,pefo,Petrified Forest National Park,34.983877,-109.787768,AZ,37,643588
39,Pinnacles NP,2019,pinn,Pinnacles National Park,36.490292,-121.181361,CA,26,177224
40,Rocky Mountain NP,2019,romo,Rocky Mountain National Park,40.355692,-105.697288,CO,34,4670053
41,Saguaro NP,2019,sagu,Saguaro National Park,32.209096,-110.757497,AZ,12,1020226
42,Sequoia NP,2019,seki,Sequoia & Kings Canyon National Parks,36.712773,-118.587429,CA,39,1246053
43,Shenandoah NP,2019,shen,Shenandoah National Park,38.492366,-78.469077,VA,29,1425507
44,Theodore Roosevelt NP,2019,thro,Theodore Roosevelt National Park,47.177773,-103.430008,ND,28,691658
45,Virgin Islands NP,2019,viis,Virgin Islands National Park,18.342797,-64.741945,VI,21,133398
46,Voyageurs NP,2019,voya,Voyageurs National Park,48.483706,-92.838291,MN,48,232974
47,White Sands NP,2019,whsa,White Sands National Park,32.779079,-106.333346,NM,11,608785
48,Wind Cave NP,2019,wica,Wind Cave National Park,43.580124,-103.439471,SD,23,615350
49,Yellowstone NP,2019,yell,Yellowstone National Park,44.598244,-110.547170,WY,53,4020288
50,Yosemite NP,2019,yose,Yosemite National Park,37.848833,-119.557187,,33,4422861
51,Zion NP,2019,zion,Zion National Park,37.298393,-113.026514,UT,23,4488268

In [21]:
## Merge Data add Custom fields (Efrain, Kevin, Ana)

In [22]:
# Merge data frames add

In [23]:
 #Create any custom fields needed to partition data for analysis

In [24]:
#Duplicate all monetary fieldfs adjusting for inflation

## Create Current Year Summary Attendance Statistics (Ana - Mike Support)

In [25]:
# Top 10 by visit 2019

#Max_Year_df.groupby(["Park Name","Year","Visits"]).size().sort_values(ascending=False)

#Max_Year_df.sort_values('Visits', ascending=False).head(10)

Max_Year_df[["Park Name","Year","Visits"]].sort_values(by=["Visits"],ascending=False).head(10)

                   Park Name  Year    Visits
22  Great Smoky Mountains NP  2019  12547743
19           Grand Canyon NP  2019   5974411
40         Rocky Mountain NP  2019   4670053
51                   Zion NP  2019   4488268
50               Yosemite NP  2019   4422861
49            Yellowstone NP  2019   4020288
0                  Acadia NP  2019   3437286
20            Grand Teton NP  2019   3405614
37                Olympic NP  2019   3245806
18                Glacier NP  2019   3049839

In [26]:
#Top 10 least visited Parks for 2019
Max_Year_df[["Park Name","Year","Visits"]].sort_values(by=["Visits"]).head(10)

                 Park Name  Year  Visits
31         Kobuk Valley NP  2019   15766
28          Isle Royale NP  2019   26410
36       North Cascades NP  2019   38208
15         Dry Tortugas NP  2019   79200
21          Great Basin NP  2019  131802
45       Virgin Islands NP  2019  133398
11             Congaree NP  2019  159445
39            Pinnacles NP  2019  177224
23  Guadalupe Mountains NP  2019  188833
46            Voyageurs NP  2019  232974

In [27]:
Max_Year_df
locations= Max_Year_df[['lat', 'lon']].astype(float)
locations

          lat         lon
0   44.409286  -68.247501
1   38.722618 -109.586367
2   43.685848 -102.482942
3   29.298178 -103.229790
4   25.490587  -80.210239
5   38.577799 -107.724276
6   37.583991 -112.182669
7   38.245558 -109.880162
8   38.282165 -111.247048
9   32.140895 -104.552969
10  33.986801 -119.911274
11  33.791875  -80.748678
12  42.940659 -122.133841
13  41.260939  -81.571167
14  36.487537 -117.134395
15  24.628741  -82.873190
16  25.372942  -80.882003
17  38.625807  -90.189251
18  48.684147 -113.800931
19  36.000117 -112.121516
20  43.818536 -110.705467
21  38.946174 -114.257978
22  35.601164  -83.508183
23  31.923045 -104.885527
24  20.706930 -156.159177
25  19.335504 -155.470026
26  34.524144  -93.063329
27  41.637655  -87.096474
28  48.011458  -88.827807
29  33.914185 -115.839812
30  59.818044 -150.106502
31  67.356313 -159.200229
32  40.493546 -121.407599
33  37.197605  -86.130902
34  37.239083 -108.462403
35  46.860754 -121.704389
36  48.711718 -121.206942
37  47.803928 -123.666385
38  34.983877 -109.787768
39  36.490292 -121.181361
40  40.355692 -105.697288
41  32.209096 -110.757497
42  36.712773 -118.587429
43  38.492366  -78.469077
44  47.177773 -103.430008
45  18.342797  -64.741945
46  48.483706  -92.838291
47  32.779079 -106.333346
48  43.580124 -103.439471
49  44.598244 -110.547170
50  37.848833 -119.557187
51  37.298393 -113.026514

In [31]:
#Heat Map All National parks parks.  Intensity = Visits
#attendance_master_detail.head()



gmaps.configure(api_key=g_key)
# Store 'Lat' and 'Lng' into  locations 
locations= Max_Year_df[['lat', 'lon']].astype(float)
#weights=Max_Year_df['Visits'].astype(float)
# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
#census_data_complete = census_data_complete.dropna()
visits_all = Max_Year_df["Visits"].astype(float)
max_visits = Max_Year_df["Visits"].max() 
#max_visits= Max_Year_df["Visits"].max()

# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=visits_all, 
                                 dissipating=False, max_intensity=max_visits,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

## Create Heat Maps to Visualize Cost and Attendance (Kevin -  Mike support)

In [29]:
## Heat Map By Operating Costs

In [30]:
##Heat Map by Attendance

## Scater/Line Plots Operating Costs versus Attendance (Ana and Efrain)  Be creative

## Trend Analysis (Compare Productivity Year Over Year) Mike and Kevin